* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background: #4A90E2;
  height: 64px;
}

header .itens-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1024px;
  color: #FFF;
}

header > img.logo {
  width: 121px;
  height: 24px;
}

header > .menuUser {
  color: #FFF;
}

section.post-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* POST */

article.post {
  margin: 20px 0;
  width: 700px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 0 10px #CCC;
  -webkit-box-shadow: 0 0 10px #CCC;
  -moz-box-shadow: 0 0 10px #CCC;
  padding: 13px;
}

article.post .painel-post {  
  display: flex;
  align-items: center;
}

article.post .painel-post > img {
  margin-right: 10px;
}

article.post .desc-autor {
  display: flex;
  flex-direction: column;
}

article.post .desc-autor .nome {
  font-weight: bold;
  color: #636869;
  font-size: 0.8em;
}

article.post .desc-autor .data {
  color: #CCC;
  font-size: 0.6em;
}

article.post .img-autor-post {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

article.post .pergunta {
  font-size: 0.8em;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #EEE;
}

article.post .resposta {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

article.post .resposta .txt-resposta {
  font-size: 0.8em;
  padding: 14px;
  background-color: #ececec;
  border-radius: 24px;
  margin-left: 10px;
  text-align: justify;
}